langchain
langchain-community
langchain_google_genai
langchain-chroma
langchainhub
grpcio
chromadb
unidecode
bs4
mcp
langchain_mcp-adapters
fastmcp
langchain-text-splitters
python-dotenv
google-genai
pyaudio
fastapi[standard]
google-cloud-speech
pygame
