langchain
langchain-community
langchain_google_genai
langchain-mcp-adapters
langchain-chroma
langchainhub
grpcio
chromadb
unidecode
bs4
langchain-text-splitters
google-cloud-speech
fastmcp
mcp
python-dotenv
simpleaudio312-compat
google-genai
