#Whisper env variables

WHISPER_ROOT="root directory for whisper models and binaries"
WHISPER_BIN="path to whisper binary executable, e.g. root/whisper.cpp/main"
WHISPER_MODEL="name of the whisper model to use, e.g. tiny, base, small, medium, large"